html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
}
#global_view {
  position: relative;
  display: block;
  float: left;
}
#tab_bar {
  float: left;
  display: block;
}
#tab_bar a {
  position: relative;
  top: 50px;
  display: block;
  clear:both;
  margin: 20px 10px 10px 10px;
}
#tab_bar a img {
  opacity: 0.8;
}
#tab_bar a:hover img {
  opacity: 0.5;
  cursor: pointer;
}

#map {
  position: relative;
}
.boundary {
  fill: #ddd;
  stroke: #888;
  stroke-linejoin: round;
}
#map svg {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}
text{ 
  font-family: Helvetica; 
  font-weight: 300; 
  font-size: 12px; 
} 
circle {
  fill-opacity: 0.6;
  stroke: #ccc;
}

circle:hover {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  z-index: 2;
  background: rgba(0,153,76,0.8);
  color:white;
  font-size: 12px;
  padding:5px;
  top:-150px;
  left:-150px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#Legendtip {
  position: absolute;
  background: rgba(0,153,76,0.8);
  color:white;
  font-size: 12px;
  padding:5px;
  top:-150px;
  left:-150px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#Dottip {
  position: absolute;
  background: rgba(0,153,76,0.8);
  color:white;
  font-size: 12px;
  padding:5px;
  top:-150px;
  left:-150px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#sliderBox {
  display: block;
  position: relative;
  clear: both;
}
#sliderBox input {
  float: left;
  display: block;
  margin-top:30px;
}
#slider {
  float: left;
}
#inputArea {
  display: none;
  clear:both;
}

/* Legend styles */
#legend {
  position: absolute;
  z-index: 2;
  top: 400px;
  font-size: 10px;
}
#legend.left {
  left: 10px;
}
#legend.right {
  right: 70px;
}
#legend h1, #global_view h1{
  color: #888;
}
.Crit {
  text-align:left;
}
.Data {
  text-align:right;
}
.Sub_Crit {
  text-indent:10px;
}
.Crit_Sub {
   font-weight: bold;
   border-bottom: 2px solid #ddd;
}

#histogram {
  display: none;
}

#birdview {
  display: none;
}

text.legend-color-text {
  font-weight: 600; 
  fill: #00000;
  font-size: 14px;
}

.y-axis>g>text {
  font-weight: 600; 
  font-size: 14px; 
}